{namespace v=Tx_Vhs_ViewHelpers}
	<aside id="global-top">
		<div>
			<f:cObject typoscriptObjectPath="lib.shared.topnavigation" />
		</div>
	</aside>
	<div id="pagewrapper">
		<article id="content">
			<header id="local-navigation-first-level">
				<h1>
					<a href="/">
						<f:cObject typoscriptObjectPath="lib.shared.sitetitle" />
					</a>
				</h1>
				<nav>
					<f:cObject typoscriptObjectPath="lib.navigation.main" />
				</nav>
			</header>
			<section id="main-content">
					<div class="span4">
						{contentNormal -> f:format.raw()}
					</div>
			</section>
			<article id="groups">
				<div class="row">
					<div class="span2">
						<h2>Grupper</h2>
						<div class="content-snippet">
							<img src="/typo3conf/ext/fdf_leder/Resources/Public/Images/nyhed.jpg" width="100%" />
							<h3>Aktive grupper</h3>
							<ul>
								<li><a href="#">Landsmøde 2012</a></li>
								<li><a href="#">Blåt og blandet</a></li>
								<li><a href="#">Leg og fantasi</a></li>
								<li><a href="#">Landsforbundet</a></li>
							</ul>
						</div>
					</div>
					<div class="span2">
						<h2>Kalender</h2>
						<div class="content-snippet">
							<img src="/typo3conf/ext/fdf_leder/Resources/Public/Images/nyhed.jpg" width="100%" />
							<h3>Forbundskalender</h3>
							<ul>
								<li><a href="#">Landsmøde 2012</a></li>
								<li><a href="#">Blåt og blandet</a></li>
								<li><a href="#">Leg og fantasi</a></li>
								<li><a href="#">Landsforbundet</a></li>
							</ul>
							<a href="#" class="right arrow">Mere</a>
						</div>
					</div>
				</div>
			</article>
			<aside id="databases">
				{contentLeft -> f:format.raw()}
				<h2>Genveje</h2>
				<div class="row">
					<div class="span1 display-bounds"></div>
					<div class="span1">
						<hgroup>
							<h2><a href="#">Lege</a></h2>
							<h3><a href="#">Tonselege</a></h3>
							<h4><a href="#">Troldehovedet</a></h4>
						</hgroup>
						<p>På asfalt tegnes med kridt et stort troldehoved (på anden grund markeres med tov), som alle deltag…</p>
						<p><a href="#" class="right arrow">Legedatabasen</a></p>
					</div>
					<div class="span1 display-bounds"></div>
					<div class="span1 display-bounds"></div>
				</div>
			</aside>
		</article>
	</div>
	<footer>
		<f:cObject typoscriptObjectPath="lib.shared.footer" />
	</footer>