.row {
  clear: both;
  margin: 10px 0;
  overflow: hidden;
}
.row > .span1,
.row > .span2,
.row > .span3,
.row > .span4 {
  margin-left: 1.3333333333333333%;
  width: 24%;
  float: left;
}
.row > .span1:first-child,
.row > .span2:first-child,
.row > .span3:first-child,
.row > .span4:first-child {
  margin-left: 0;
}
.row > .span1.display-bounds,
.row > .span2.display-bounds,
.row > .span3.display-bounds,
.row > .span4.display-bounds {
  background-color: rgba(200, 200, 200, 0.5);
  height: 50px;
}
.row > .span1 {
  width: 24%;
}
.row > .span2 {
  width: 49.333333333333336%;
}
.row > .span3 {
  width: 74.66666666666667%;
}
.row > .span4 {
  width: 100%;
}
.row > .offset1 {
  margin-left: 26.566666666666666%;
}
.row > .offset1:first-child {
  margin-left: 25.333333333333332%;
}
.row > .offset2 {
  margin-left: 52%;
}
.row > .offset2:first-child {
  margin-left: 50.666666666666664%;
}
.row > .offset3:first-child {
  margin-left: 76%;
}
